@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  background: #fa9b1e;
  background: -webkit-gradient(linear, left bottom, left top, from(#fa9b1e), to(#b3560f));
  background: linear-gradient(0deg, #fa9b1e 0%, #b3560f 100%);
}

p {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #555050;
  padding: 15px;
}

figure {
  margin: auto;
}

iframe {
  margin: 10px auto;
}

.title-small {
  display: none;
}

.colorsiño {
  background: #82807c;
  background: radial-gradient(circle, #82807c 0%, #1d1d1c 100%);
}

* {
  padding: 0;
  margin: 0;
}

.icononav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 50px;
}

.navbarOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.principal {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.principal .titulo0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.25rem;
}

.principal .titulo0 .texto1 {
  background-color: #555050;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  border-radius: 2.30rem;
  padding: 0.313rem 0.938rem;
  font-size: 3.125rem;
}

.principal .titulo0 .texto2 {
  background-color: #555050;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  border-radius: 2.30rem;
  padding: 0.313rem 0.938rem;
  border-radius: 2.25rem;
  height: auto;
  width: auto;
}

.principal .titulo0 .texto3 {
  background-color: #555050;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  border-radius: 2.30rem;
  padding: 0.313rem 0.938rem;
  border-radius: 2.25rem;
}

.titulo-recomendaciones {
  background-color: #555050;
  color: aliceblue;
  font-size: 3.125rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  border-radius: 2.25rem;
  padding: 0.313rem 0.938rem;
}

.tituloSegundo {
  background-color: #555050;
  color: aliceblue;
  border-radius: 0.625rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  border-radius: 2.25rem;
  padding: 0.313rem 0.938rem;
}

.multimedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.multimedia .multimediaContainer {
  text-align: center;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.multimedia .multimediaContainer .vidTitulo {
  color: black;
  font-size: 4.063rem;
}

.multimedia .multimediaContainer .description {
  font-size: 1.875rem;
}

/* Recomendaciones */
.recomendTitle {
  background-color: #555050;
  color: aliceblue;
  border-radius: 2.25rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0.625rem auto;
  border-radius: 2.25rem;
  padding: 0.313rem 0.938rem;
}

.animeRecomend1 {
  text-align: center;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: kimetsu;
}

.animeRecomend2 {
  text-align: center;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: haikyuu;
}

.mangaRecomend1 {
  text-align: center;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: berserk;
}

.mangaRecomend2 {
  text-align: center;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: shuumatsu;
}

.recTitulo1 {
  font-family: "PT Sans", sans-serif;
  font-size: 4.063rem;
}

.recTitulo2 {
  font-family: "PT Sans", sans-serif;
  font-size: 2.063rem;
}

.animeDescription {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.063rem;
  margin: 2.25rem auto;
}

.recTitulo3 {
  font-family: "PT Sans", sans-serif;
  font-size: 4.063rem;
}

.recTitulo4 {
  font-family: "PT Sans", sans-serif;
  font-size: 2.063rem;
}

.mangaDescription {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 2.25rem auto;
  font-size: 2.063rem;
}

.recImg {
  height: 400px;
  width: 500px;
  margin-top: 10px;
}

.recomend-card-img {
  height: 11rem;
  border: solid black;
  padding: 1px;
  margin: 3px auto;
}

 .recomendContainer{
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18rem 18rem;
      grid-template-rows: 18rem 18rem;
  -ms-grid-columns: 14rem 14rem 14rem 14rem;
      grid-template-columns: 14rem 14rem 14rem 14rem;
  margin: 0 auto;
  height: 100vh;
  margin-top: 50px;
  gap: 20px;
  /* .titulo-recomendaciones {
  display: flex;
  align-items: center;
  background-color: rgb(85, 80, 80);
  color: aliceblue;
  font-size: 3.125rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  border-radius: 2.25rem;
  padding: 0.313rem 0.938rem;
  margin-top: 20px;
} */
}

 .recomend-card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

 .recomend-card {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

 .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

 .recomend-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 12rem;
  background: radial-gradient(circle, #82807c 0%, #1d1d1c 100%);
  border-radius: 16px;
  padding: 10px;
  margin: 0.5rem;
}

 .recomenda-title {
  background: black;
  color: aliceblue;
  border-radius: 2.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  border-radius: 2.25rem;
  padding: 0.313rem 0.938rem;
}

 .recomend-card-description {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  font-weight: bold;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .recomendContainer{
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 750px;
    margin: 0 auto;
    gap: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: inherit;
  }
   .recomend-card {
    margin: 1rem auto;
  }
   .recomend-card-img {
    height: 8rem;
  }
   .title-small {
    display: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 1.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
   .title-small > a {
    text-decoration: none;
    color: aliceblue;
    font-size: 3.125rem;
    font-family: "PT Sans", sans-serif;
  }
   .multimedia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
   .titulo0 {
    width: auto;
  }
   .texto1 {
    display: none;
    width: auto;
  }
   .texto2 {
    font-size: 25px;
    height: auto;
    width: auto;
  }
   .texto3 {
    font-size: 25px;
    width: auto;
  }
   .principal-image {
    width: 80vw;
    height: auto;
  }
   .tituloSegundo {
    font-size: 25px;
    height: auto;
    width: auto;
  }
   .icononav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media only screen and (max-width: 767px) {
  .recomendContainer{
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100vw;
    margin: 0 auto;
    gap: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: inherit;
  }
   .recomend-card {
    margin: 1rem auto;
  }
   .recomend-card-img {
    height: 8rem;
  }
   .title-small {
    display: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 1.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
   .title-small > a {
    text-decoration: none;
    color: aliceblue;
    font-size: 3.125rem;
    font-family: "PT Sans", sans-serif;
  }
   .titulo0 {
    width: auto;
  }
   .texto1 {
    font-size: 1.125rem;
  }
   .multimedia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
   .multimedia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
   .texto1 {
    display: none;
    width: auto;
  }
   .texto2 {
    font-size: 16px;
    height: auto;
    width: auto;
  }
   .texto3 {
    font-size: 16px;
    width: auto;
  }
   .principal-image {
    height: 20vw;
    margin: 0 auto;
    width: 80vw;
    height: auto;
  }
   .tituloSegundo {
    font-size: 16px;
    width: auto;
  }
   iframe {
    width: 80vw;
    height: auto;
  }
   .icononav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .titulo-recomendaciones{
    font-size: 2rem;
  }
}
/*# sourceMappingURL=estiloso.css.map */